.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body-container {
    display: flex;
    flex-grow: 1;
}

.header, .footer, .sidenav, .content {
    display: flex;
}

.content {
    flex-grow: 1;
}