.childContainer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #000;
    border-width: 1px;
    border-radius: 5px;
    padding: 20px;
}

.red-bg {
    background-color: red;
}