.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

.red-bg {
    background-color: red;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}